<h1>Listing farts</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @farts.each do |fart| %>
  <tr>
    <td><%= link_to 'Show', fart %></td>
    <td><%= link_to 'Edit', edit_fart_path(fart) %></td>
    <td><%= link_to 'Destroy', fart, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fart', new_fart_path %>
